<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="artigos-container">
  <div class="artigos-principal">
    <app-big-card></app-big-card>
  </div>
  <div class="artigos-outros">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>

<div class="artigos-container-separator">
  NOVIDADES!
  <hr>
</div>

<div class="artigos-container">
  <div class="artigos-principal">
    <app-big-card></app-big-card>
  </div>
  <div class="artigos-outros">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
