header {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.artigos-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.artigos-container-separator{
  margin-top: 50px;
}
