<div class="artigos-container">
  <div class="artigos-principal">
    <app-big-card
      Id="1"
      photoCover="https://e0.pxfuel.com/wallpapers/724/541/desktop-wallpaper-luke-skywalker-star-wars-the-last-jedi-2017-1440p-resolution-background-and-luke-skywalker-cool-thumbnail.jpg"
      cardTitle="Após longos anos, Luke Skywalker decide treinar padawans"
      cardDescription="Padawans ficam eufóricos ao saberem da grande novidade sobre nova temporada de treinamentos para quem deseja ser um futuro Jedi."
    ></app-big-card>
  </div>

  <div class="artigos-outros">
    <app-small-card
      Id="2"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHZ3tbvBlRM5ar7i70Cx5Gi9lA9recQmh_mw&usqp=CAU"
      cardTitle="Ahsoka pede reunião com cúpula da resistência para criar novo conselho Jedi.">
    </app-small-card>

    <app-small-card
      Id="3"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRKnRcyeYAO82gZHUoxHr4Fh-2I-9jZIyK4A&usqp=CAU"
      cardTitle="Finn alcança grandes feitos em sua nova jornada.">
  </app-small-card>

    <app-small-card
      Id="4"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtv70Ofp6zMmocgEq4IDeYd10Nc6Bsc8v8Rw&usqp=CAU"
      cardTitle="Rey parte em busca de novas crianças sensitivas à Força.">
  </app-small-card>
  </div>
</div>

<div class="artigos-container-separator">
