*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(27, 27, 27);
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}
